<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resourcepool.project.business.mapper.TCustomerMapper">
    
    <resultMap type="TCustomer" id="TCustomerResult">
        <result property="customerId"    column="customer_id"    />
        <result property="customerName"    column="customer_name"    />
        <result property="customerPhone"    column="customer_phone"    />
        <result property="isUse"    column="is_use"    />
        <result property="createBy"    column="create_by"    />
        <result property="certificateType"    column="certificate_type"    />
        <result property="certificateSpeciality"    column="certificate_speciality"    />
        <result property="remark"    column="remark"    />
        <result property="addr"    column="addr"    />
        <result property="sources"    column="sources"    />
        <result property="createTime"    column="create_time"    />
        <result property="isDel"    column="is_del"    />
        <result property="notes"    column="notes"    />
    </resultMap>

    <sql id="selectTCustomerVo">
        select customer_id, customer_name, customer_phone, is_use, create_by, certificate_type, certificate_speciality, remark, addr,sources, create_time, is_del,notes from t_customer
    </sql>

    <select id="selectTCustomerList" parameterType="TCustomer" resultMap="TCustomerResult">
        <include refid="selectTCustomerVo"/>
        <where>
            is_del = 0 and is_use = 0
            <if test="customerName != null  and customerName != ''"> and customer_name like concat('%', #{customerName}, '%')</if>
            <if test="customerPhone != null  and customerPhone != ''"> and customer_phone = #{customerPhone}</if>
            <if test="isUse != null "> and is_use = #{isUse}</if>
            <if test="certificateType != null  and certificateType != ''"> and certificate_type = #{certificateType}</if>
            <if test="certificateSpeciality != null  and certificateSpeciality != ''"> and certificate_speciality = #{certificateSpeciality}</if>
            <if test="addr != null  and addr != ''"> and addr = #{addr}</if>
            <if test="notes != null  and notes != ''"> and notes like concat('%', #{notes}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>
    
    <select id="selectByCusterName" parameterType="TCustomer" resultMap="TCustomerResult">
        <include refid="selectTCustomerVo"/>
        where customer_name = #{customerName} and customer_phone = #{customerPhone} and is_del = 0
    </select>

    <select id="selectTCustomerByCustomerId" parameterType="Long" resultMap="TCustomerResult">
        <include refid="selectTCustomerVo"/>
        where customer_id = #{customerId}
    </select>
        
    <insert id="insertTCustomer" parameterType="TCustomer" useGeneratedKeys="true" keyProperty="customerId">
        insert into t_customer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="customerName != null">customer_name,</if>
            <if test="customerPhone != null">customer_phone,</if>
            <if test="isUse != null">is_use,</if>
            <if test="createBy != null">create_by,</if>
            <if test="certificateType != null">certificate_type,</if>
            <if test="certificateSpeciality != null">certificate_speciality,</if>
            <if test="remark != null">remark,</if>
            <if test="addr != null">addr,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDel != null">is_del,</if>
            <if test="sources != null">sources,</if>
            <if test="notes != null">notes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="customerName != null">#{customerName},</if>
            <if test="customerPhone != null">#{customerPhone},</if>
            <if test="isUse != null">#{isUse},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="certificateType != null">#{certificateType},</if>
            <if test="certificateSpeciality != null">#{certificateSpeciality},</if>
            <if test="remark != null">#{remark},</if>
            <if test="addr != null">#{addr},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="sources != null">#{sources},</if>
            <if test="notes != null">#{notes},</if>
         </trim>
    </insert>

    <update id="updateTCustomer" parameterType="TCustomer">
        update t_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerName != null">customer_name = #{customerName},</if>
            <if test="customerPhone != null">customer_phone = #{customerPhone},</if>
            <if test="isUse != null">is_use = #{isUse},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="certificateType != null">certificate_type = #{certificateType},</if>
            <if test="certificateSpeciality != null">certificate_speciality = #{certificateSpeciality},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="addr != null">addr = #{addr},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="sources != null">sources = #{sources},</if>
            <if test="notes != null">notes = #{notes},</if>
        </trim>
        where customer_id = #{customerId}
    </update>

    <delete id="deleteTCustomerByCustomerId" parameterType="Long">
        update t_customer set is_del = 1
        where customer_id = #{customerId}
    </delete>

    <delete id="deleteTCustomerByCustomerIds" parameterType="String">
        update t_customer
        set is_del = 1
        where customer_id in
        <foreach item="customerId" collection="array" open="(" separator="," close=")">
            #{customerId}
        </foreach>
    </delete>
</mapper>